<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        try {
            const response = await fetch("http://localhost:8082/users", {
                method: "GET",
                headers: {
                    "Content-Type": "text/xml",
                }
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            console.log(data);
        } catch (error) {
            console.error("Fetch error: ", error);
        }
    </script>
</head>
<body>
<button name="corsTest" onclick="corsTest()">corsTest</button>
</body>
</html>